.carousel-slide {
    height: 93.8vh;
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(1) {
    background: linear-gradient(180deg, #ff5858, #f09819); 
}

.carousel-item:nth-child(2) {
    background: linear-gradient(180deg, #6a11cb, #97bdff); 
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px; 
}



.carousel-caption a {   
    background-color: #f1bc2c;
    color: #fffefe; 
    border: none;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

a:hover, .navbar-toggler:hover, .carousel-caption a:hover {
    opacity: 1,0;
}

