.human-body {
    width: 100px;
    position: absolute;
    padding-top: 50px;
    height: 200px;
    display: block;
    margin: 20px auto;
    top: 200px;
}
.human-body{
    display: block;
  margin-left: 10%;
  margin-right: auto;
  width: 40%;
}
.human-body svg:hover {
    cursor: pointer;
}

.human-body svg:hover path {
    fill: #fe7b00;
}

.human-body svg {
    position: absolute;
    left: 50%;
    fill: #57c9d5;
}

.human-body svg#head {
    margin-left: -28.5px;
    top: -6px;
}

.human-body svg#left-shoulder {
    margin-left: -53.5px;
    top: 69px;
}

.human-body svg#right-shoulder {
    margin-left: 13.5px;
    top: 69px;
}

.human-body svg#left-arm {
    margin-left: -78px;
    top: 112px;
}

.human-body svg#right-arm {
    margin-left: 38px;
    top: 112px;
    z-index: 10001;
}

.human-body svg#chest {
    margin-left: -43.5px;
    top: 88px;
}

.human-body svg#stomach {
    margin-left: -37.5px;
    top: 130px;
}

.human-body svg#left-leg {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#right-leg {
    margin-left: 1.5px;
    top: 205px;
    z-index: 9999;
}

.human-body svg#left-hand {
    margin-left: -102.5px;
    top: 224px;
}

.human-body svg#right-hand {
    margin-left: 66.5px;
    top: 224px;
    z-index: 10000;
}

.human-body svg#left-foot {
    margin-left: -35.5px;
    top: 455px;
}

.human-body svg#right-foot {
    margin-left: 5.5px;
    top: 455px;
}

.head path,
.left-shoulder path,
.right-shoulder path,
.left-arm path,
.right-arm path,
.chest path,
.stomach path,
.left-leg path,
.right-leg path,
.left-hand path,
.right-hand path,
.left-foot path,
.right-foot path {
    fill: rgb(0, 234, 255);
}

.tracker {
    font-size: 14px;
    border-collapse: collapse;
    width: 600px;
}

.tracker,
.tracker * {
    font-family: sans-serif;
}

.tracker th {
    font-size: 1.15em;
    text-align: left;
    font-weight: normal;
    color: #f8fff8;
    background: #00e5ff;
}

.tracker th,
.tracker td {
    padding: 0.75em;
}

.tracker__entries .tracker__row {
    background: #eeeeee;
}

.tracker__entries .tracker__row:nth-child(odd) {
    background: #dddddd;
}

.tracker__date,
.tracker__workout,
.tracker__duration {
    display: inline-block;
    box-sizing: border-box;
    font-size: 1em;
    height: 2.5em;
    padding: 0.5em 0;
    border: none;
    outline: none;
    background: none;
}

.tracker__duration {
    width: 5em;
    text-align: right;
}

.tracker__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    border-radius: 50%;
    outline: none;
    color: rgb(255, 0, 166);
    font-size: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
}

.tracker__button:hover {
    background: rgba(10, 112, 106, 0.1);
}

.tracker__row--add {
    border-top: 3px solid #00e5ff;
    border-bottom: 3px solid #00e5ff;
    background: #ffffff;
}

.tracker__row--add td {
    text-align: right;
}

.tracker__add {
    display: inline-block;
    padding: 0.8em 1em;
    color: rgb(0, 132, 255);
    cursor: pointer;
}
.tracker__add:hover {
    background:#00eeff;
}