<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Javascript Docs -->
    <script type="text/javascript" src="index.js"></script>
    <title>HealHub</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/login">Logga In</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Start</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ovningar">Övningar</a>
                    </li>

                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mer
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Fysioterapeut">Fysioterapeut</a></li>
                        <a class="dropdown-item" href="/tipsa-ovningar">Tipsa övningar</a>
                        <a class="dropdown-item" href="/info">Info</a>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/kontakta-oss">Kontakta oss</a></li>

                    </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="{{ url_for('search') }}" method="get">
                    <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="namelogout">
                {% if current_user.is_authenticated %}
                <span class="name">{{ current_user.username }}</span>
                <a class="logout" href="{{ url_for('logout') }}">Sign out</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</header>

<body>
    <main>
        <h1>Om oss</h1>
        <p>HealHub grundades 2024 av Robin Garmy och Benjamin Aston, två entusiastiska individer med en passion för hälsa och välbefinnande. Inspirerade av egna erfarenheter och utmaningar inom rehabilitering efter skador, insåg de det bristfälliga stödet och den fragmenterade tillgången till information inom detta område.</p>

<p>Med tiden växte HealHub och välkomnade en ny medlem, Andreh Hami, vars expertis och engagemang ytterligare berikade teamet. Tillsammans delade de en vision om att förändra landskapet för rehabilitering genom att göra det tillgängligt för alla, oavsett var de befinner sig eller vilka resurser de har tillgång till.</p>

<p>Idén att skapa en plattform som samlar och tillhandahåller pålitlig information om rehabilitering och hälsa föddes när en av gruppens egna drabbades av en knäskada. Denna personliga erfarenhet förstärkte deras beslutsamhet att göra en verklig skillnad och erbjuda stöd och vägledning till andra som befinner sig i liknande situationer.</p>

<p>HealHub strävar efter att vara en källa till vetenskapligt grundad information, praktiska råd och stöd för alla som behöver rehabilitering och vägledning i sin hälsaresa. Genom att kombinera teknikens kraft med expertkunskap och medkänsla strävar vi efter att göra rehabiliteringsprocessen så smidig och effektiv som möjligt för varje individ.</p> </p>
    </main>
</body>
<footer> 
    &copy; 2024 HealHub. All rights reserved.
    <ul class="social-media">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>

    </ul>
    
   </footer>
</html>